<app-navbar></app-navbar>
<h1>Toast 1</h1>
<div class="card flex justify-center">
    <p-toast />
    <p-button (onClick)="show()" label="El toast de Yael" />
</div>
<h1>Toast 2</h1>
<div class="card flex justify-center gap-2">
    <p-toast />
    <p-button type="button" pRipple (click)="showSuccess()" label="Success" severity="success" />
</div>
<h1>Toast 3</h1>
<div class="card flex justify-center">
    <p-toast position="bottom-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message #message>
            <div class="flex flex-col items-start flex-auto">
                <div class="flex items-center gap-2">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                    <span class="font-bold">Amy Elsner</span>
                </div>
                <div class="font-medium text-lg my-4">{{ message.summary }}</div>
                <p-button severity="success" size="small" label="Reply" (click)="onConfirm()" />
            </div>
        </ng-template>
    </p-toast>
    <p-button (click)="showConfirm()" label="View" />
</div>
<h1>Toast 4</h1>
<div class="card flex justify-center">
    <p-toast position="top-left" key="tl" />
    <div class="flex flex-wrap gap-2">
        <p-button pRipple (click)="showTopLeft()" label="Top Left" />
    </div>
</div>
<router-outlet />
